In [13]:
import pandas as pd
import requests
import json
from tqdm import tqdm

In [24]:

from ETL.Extract import Connection , Search


with open("./config.json", "r") as f:
    config= json.load(f)

ENTORNO="PROD"
conexion = Connection(USER = config[ENTORNO]['user']
                    , PASS = config[ENTORNO]['pass']
                    , URLTOKEN = config[ENTORNO]['urlToken']
                    , REFERER = config[ENTORNO]['referer'] )



token=conexion.token
start='2022-06-02'
finish='2022-07-04'
mmsi="701000516"



busqueda=Search.trackSearch(token,mmsi,start,finish)

Generando token
Buscando Posiciones

In [25]:
positions=busqueda["positions"]

In [50]:
list_positions=[]
position={}
for pos in tqdm(positions):
    position={"FH":pos["msgTime"],
               "SOG":pos['SpeedOverGroud'],
               "COG":pos['CourseOverGround']}
    try:
         position.update({"X":pos["location"]["geo"]["coordinates"][0],
         "Y":pos["location"]["geo"]["coordinates"][1]})
            
    except KeyError:
        print( f" El ObjectId {pos['objectId']}, no tiene coordenadas")
        continue
              
    list_positions.append(position)
dfa=pd.DataFrame(list_positions)

100%|████████████████████████████████████████████████████████████████████████| 15000/15000 [00:00<00:00, 834067.69it/s]

 El ObjectId 16550266308239420, no tiene coordenadas

In [49]:
dfa[6404:6408]

                            FH    SOG    COG          X          Y
6404  2022-06-12T09:34:28.000Z    8.5  200.4 -63.253292 -45.574965
6405  2022-06-12T09:36:28.000Z  102.3  360.0        NaN        NaN
6406  2022-06-12T09:37:46.000Z    8.1  177.7 -63.254847 -45.582788
6407  2022-06-12T09:37:49.000Z    8.1  177.7 -63.254847 -45.582788

In [51]:
dfa[6404:6408]

                            FH  SOG    COG          X          Y
6404  2022-06-12T09:34:28.000Z  8.5  200.4 -63.253292 -45.574965
6405  2022-06-12T09:37:46.000Z  8.1  177.7 -63.254847 -45.582788
6406  2022-06-12T09:37:49.000Z  8.1  177.7 -63.254847 -45.582788
6407  2022-06-12T09:38:57.000Z  7.5  177.7 -63.254940 -45.585217